h1 {
padding: 20px;
background-color: red;
border: 10px dashed black;
}

p {
	background-color: blue;
	color: white;
	padding: 20px;
	border: 5px solid black;
}

code {
	background-color: white;
	color: black;
	padding: 5px;
	border: 2px solid gray;
}

h2, ol, li {
	padding: 10px;
	border: 1px solid red;
	background-color: rgba(22, 160, 133,1.0);
	font-size: 30px;
}